#grafrow{
    background-color: #BBDDFF;
}

html, body {
    height: 100%;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

.card_grafico{
    margin-left: 15px; 
    margin-bottom:5px;
}

.left_row{
    font-size: 25px;
}

.label_form{
    margin-left: -1px
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #326CC4;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #326CC4;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
}

svg.rect_loader rect.rect_loader{ 
    fill: #326CC4;
}