{% load static %}

{% block head %}
<link rel="icon" href="{% static 'base/design/icons/logo.svg' %}">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'base/css/external/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/css/external/apexcharts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/css/external/materialize.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/css/menu.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-8 mt-4 mb-4 ml-3">
            <img class="user" src="{% static 'base/design/icons/logoescrito.png' %}" style="width: 380px; height: 90px;"/>
        </div>
    </div>
    <div class="row fill" id="grafrow">
        <div class="col mb-5">
            <div class="row mt-4" style="margin-left: 100px;">
                <span class="left_row"><strong>Painel Coronavírus</strong></span>
            </div>
            <div class="row mt-2" style="margin-left: 100px;">
                <span class="left_row" style="color:#326CC4;"><strong>Atualizado em: {{ ultima_atualizacao }}</strong></span>
            </div>
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-auto">
                    <span class="fw-bold mb-0">Região</span>
                    <select id="filtro_regiao">
                        {% for regiao in form.regiao %}
                            <option value="{{regiao.0}}">{{regiao.1}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="div_regiao" class="col-lg-auto row">
                    <div class="col-lg-auto">
                        <span class="fw-bold mb-0">Estado</span>
                        <select id="filtro_estado">
                            {% for estado in form.estado %}
                                <option value="{{estado.0}}">{{estado.1}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="div_estado" class="col-lg-auto row">
                        <div class="col-lg-auto">
                            <span class="fw-bold mb-0">Município</span>
                            <select id="filtro_municipio">
                                {% for municipio in form.municipio %}
                                    <option value="{{municipio.0}}">{{municipio.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="loader_filtros" class="col-lg-auto d-none">
                    <div class="loader loader--style8" title="7">
                        <svg class="rect_loader" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30"
                            style="enable-background:new 0 0 50 50;" xml:space="preserve">
                            <rect class="rect_loader" x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s"
                                    repeatCount="indefinite" />
                                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s"
                                    repeatCount="indefinite" />
                                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s"
                                    repeatCount="indefinite" />
                            </rect>
                            <rect class="rect_loader" x="8" y="10" width="4" height="10" fill="#333" opacity="0.2">
                                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s"
                                    repeatCount="indefinite" />
                                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s"
                                    repeatCount="indefinite" />
                                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s"
                                    repeatCount="indefinite" />
                            </rect>
                            <rect class="rect_loader" x="16" y="10" width="4" height="10" fill="#333" opacity="0.2">
                                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s"
                                    repeatCount="indefinite" />
                                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s"
                                    repeatCount="indefinite" />
                                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s"
                                    repeatCount="indefinite" />
                            </rect>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <div class="col-10">
                    <div class="card">
                        <div class="card-body">
                            <img class="card_grafico" src="{% static 'base/design/icons/iconehospital.svg' %}"><span><strong>Visão Geral</strong></span>
                            <div id="graf_geral"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'base/js/external/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'base/js/external/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/external/apexcharts.min.js' %}"></script>
<script src="{% static 'base/js/external/materialize.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('select').formSelect();
    });

    var options = {
        series: [{
            name: "Casos",
            data: ['{{casos.0.casos}}', '{{casos.1.casos}}', '{{casos.2.casos}}', '{{casos.3.casos}}', '{{casos.4.casos}}', '{{casos.5.casos}}', '{{casos.6.casos}}', '{{casos.7.casos}}', '{{casos.8.casos}}']
        }],
        chart: {
            height: 350,
            type: 'bar',
            zoom: {
            enabled: false
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        grid: {
            row: {
            colors: ['#f3f3f3', 'transparent'],
            opacity: 0.5
            },
        },
        xaxis: {
            categories: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro'],
        }
    };
    var chart = new ApexCharts(document.querySelector("#graf_geral"), options);
    chart.render();

    function getCookie(name) {
    let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $('#filtro_regiao').change( () => {
        $.ajax({
            type: "POST",
            url: 'filtros/',
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                regiao: $('#filtro_regiao').val(),
                tipo: 'regiao'
            }
        });
    })

    $(document).on('change', '#filtro_estado', () => {
        $.ajax({
            type: "POST",
            url: 'filtros/',
            data: {
                csrfmiddlewaretoken: getCookie('csrftoken'),
                regiao: $('#filtro_regiao').val(),
                estado: $('#filtro_estado').val(),
                tipo: 'estado'
            },
            success: (response) => {
                $('#div_estado').html(response)
            }
        });
    })
</script>
{% endblock %}